InstructionBot.json
[{"id":"aad415cb.3a2878","type":"tab","label":"Instruction Bot","disabled":false,"info":""},{"id":"4373e44c.46518c","type":"watson-text-to-speech","z":"aad415cb.3a2878","name":"text to speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","voice":"en-US_AllisonV3Voice","voicehidden":"en-US_AllisonV3Voice","format":"audio/wav","password":"Temporary99","apikey":"TsWMx6_ED8FSPRgR4SBZMHffTPKGFCA2YQD1PTIxPlnW","payload-response":true,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/text-to-speech/api","x":400,"y":60,"wires":[["eac767eb.d86ae8","997d7b30.4fea88"]]},{"id":"694b05de.7080fc","type":"inject","z":"aad415cb.3a2878","name":"","topic":"","payload":"Hello my name is Max, the Instruction bot! ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"1","x":130,"y":40,"wires":[["4373e44c.46518c"]]},{"id":"eac767eb.d86ae8","type":"debug","z":"aad415cb.3a2878","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":40,"wires":[]},{"id":"997d7b30.4fea88","type":"play audio","z":"aad415cb.3a2878","name":"","voice":"","x":710,"y":160,"wires":[]},{"id":"9a3ddfd8.1ad42","type":"watson-speech-to-text","z":"aad415cb.3a2878","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"5k8l2hbD1LgNxX1zPBtr6KTjryJBSIEtrUDKJUwi4JUZ","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/speech-to-text/api","x":500,"y":480,"wires":[["f691d872.4eb8c8","d4bae383.ffaeb"]]},{"id":"f691d872.4eb8c8","type":"debug","z":"aad415cb.3a2878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":500,"wires":[]},{"id":"d4bae383.ffaeb","type":"watson-conversation-v1","z":"aad415cb.3a2878","name":"Assistant","workspaceid":"986f619d-8cb9-4b09-9556-d6d3d1de7351","multiuser":false,"context":true,"empty-payload":true,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":true,"x":400,"y":340,"wires":[["fe02233b.b096f","2c0cd9d4.3d0566"]]},{"id":"fe02233b.b096f","type":"debug","z":"aad415cb.3a2878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":340,"wires":[]},{"id":"2c0cd9d4.3d0566","type":"function","z":"aad415cb.3a2878","name":"sending o/p text","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["4373e44c.46518c"]]},{"id":"2adf6e28.a92e52","type":"microphone","z":"aad415cb.3a2878","name":"","x":260,"y":500,"wires":[["9a3ddfd8.1ad42"]]}]